
.formBox {
    max-width: 900px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.formBox h3 {
    margin: 0 0 15px;
    color: #111;
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.row input,
.row select,
.row textarea {
    flex: 1;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
}

.row textarea {
    resize: none;
    height: 90px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 20px;
}
.checkbox label {
    font-size: 14px;
    color: #444;
}

.section {
    margin-bottom: 25px;
}

/* BUTTON LINKS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    cursor: pointer;
    border: none;
}

.btnCancel {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.btnCreate {
    background: #0d6efd;
    color: #fff;
    border: 1px solid #0d6efd;
}

.btn:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    transform: translateY(-2px);
}

/* MOBILE */
@media(max-width:768px){
    .row { flex-direction: column; }
}
